

<!--==================== MAIN ====================-->
<main class="main">
    <!--==================== HOME ====================-->
    <section class="home">
        <div class="home__container container">
            <div class="home__data">
                <span class="home__subtitle">Error 404</span>
                <h1 class="home__title">Hey Buddy</h1>
                <p class="home__description">
                    We can't seem to find the page <br> you are looking for.
                </p>
                <a style=" background-color: yellow; color: black; cursor: pointer;" (click)="navigate()" class="home__button">
                    Go Home
                </a>
            </div>

            <div class="home__img">
                <img src="../../assets/images/ghost-img.png" alt="not found Image">
                <div class="home__shadow"></div>
            </div>
        </div>

        <footer class="home__footer">
            <span>+91(995)88 81921</span>
            <span>|</span>
            <span>vishalenterprises@kurston.in</span>
        </footer>
    </section>
</main>