<div class="container-fluid" >
    <div class="category">
        <div class="cat">
            <div class="row1">
                <div class="imgdiv">
                    <img [src]="dataService.industrialIcon" alt="Industrial Motor image">
                </div>
                <div class="txtdiv">
                    <h1>Industrial Motors</h1>
                    <p>
                        Kurston Industrial Motors are designed to meet diverse needs, from powering heavy machinery to driving complex systems. These motors ensure consistent performance and efficiency, supporting various industrial processes and enhancing overall productivity.
                    </p>
                </div>
            </div>
            <div class="btndiv">
                <button (click)="navigate('industrial')" class="btn">View All Products</button>
            </div>
        </div>
        <div class="cat">
            <div class="row1">
                <div class="imgdiv">
                    <img [src]="dataService.residentialIcon" alt="Residential Motor image">
                </div>
                <div class="txtdiv">
                    <h1>Residential Motors</h1>
                    <p>
                        Kurston Residential Motors are crafted to handle a range of household applications, from powering appliances to driving home systems. They provide reliable and efficient performance, making everyday tasks easier and more efficient
                    </p>
                </div>
            </div>
            <div class="btndiv">
                <button (click)="navigate('residential')" class="btn">View All Products</button>
            </div>
        </div>
    </div>
    <div class="head">
        <h1>Industrial Motors</h1>
        <a (click)="scroll('industrial','left')" class="indicator left"><i class="fas fa-chevron-left"></i></a>
        <a  (click)="scroll('industrial','right')" class="indicator right"><i class="fas fa-chevron-right"></i></a>
    </div>
    <div id="industrial" class="motor-show">
        <div class="pump" *ngFor="let x of industrialProducts;let i=index">
            <div class="img-div">
                <img [src]="x.imageUrl" alt="Industrial Motor image">
            </div>
            <div class="motor-txt">
                <h2>{{x.title}}</h2>
                <p>{{x.desc|truncate:70:true}}</p>
                <div class="btn-grp">
                    <button (click)="onProductClick(x)" class="btn btn-sm">Know More</button>
                    <a (click)="onFavouriteClick(x)" class="fav"><i class="far fa-heart"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="head">
        <h1>Residential Motors</h1>
        <a (click)="scroll('residential','left')" class="indicator left"><i class="fas fa-chevron-left"></i></a>
        <a  (click)="scroll('residential','right')" class="indicator right"><i class="fas fa-chevron-right"></i></a>
    </div>
    <div id="residential" class="motor-show">
        <div class="pump" *ngFor="let x of residentialProducts;let i=index">
            <div class="img-div">
                <img [src]="x.imageUrl" alt="Industrial Motor image">
            </div>
            <div class="motor-txt">
                <h2>{{x.title}}</h2>
                <p>{{x.desc|truncate:70:true}}</p>
                <div class="btn-grp">
                    <button (click)="onProductClick(x)" class="btn btn-sm">Know More</button>
                    <a (click)="onFavouriteClick(x)" class="fav"><i class="far fa-heart"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>