<div class="container-fluid" >
    <div class="category">
        <div class="cat">
            <div class="row1">
                <div class="imgdiv">
                    <img src="https://firebasestorage.googleapis.com/v0/b/kruston-25bbb.appspot.com/o/category%2FFlowking%2F2.webp?alt=media&token=11e6d70e-7736-4146-9fdd-1832ecf9e18a" alt="Industrial Motor image">
                </div>
                <div class="txtdiv">
                    <h1>Industrial Motors</h1>
                    <p>
                        Kurston Industrial Motors are designed to meet diverse needs, from powering heavy machinery to driving complex systems. These motors ensure consistent performance and efficiency, supporting various industrial processes and enhancing overall productivity.
                    </p>
                </div>
            </div>
            <div class="btndiv">
                <button (click)="navigate('industrial')" class="btn">View All Products</button>
            </div>
        </div>
        <div class="cat">
            <div class="row1">
                <div class="imgdiv">
                    <img src="https://firebasestorage.googleapis.com/v0/b/kruston-25bbb.appspot.com/o/category%2FFlowking%2F4.webp?alt=media&token=eb18160a-8287-4618-b6e1-24da6c516006" alt="Residential Motor image">
                </div>
                <div class="txtdiv">
                    <h1>Residential Motors</h1>
                    <p>
                        Kurston Residential Motors are crafted to handle a range of household applications, from powering appliances to driving home systems. They provide reliable and efficient performance, making everyday tasks easier and more efficient
                    </p>
                </div>
            </div>
            <div class="btndiv">
                <button (click)="navigate('residential')" class="btn">View All Products</button>
            </div>
        </div>
    </div>
    <div class="head">
        <h1>Industrial Motors</h1>
        <a (click)="scroll('industrial','left')" class="indicator left"><i class="fas fa-chevron-left"></i></a>
        <a  (click)="scroll('industrial','right')" class="indicator right"><i class="fas fa-chevron-right"></i></a>
    </div>
    <div id="industrial" class="motor-show">
        <div class="pump">
            <div class="img-div">
                <img src="https://firebasestorage.googleapis.com/v0/b/kruston-25bbb.appspot.com/o/category%2FFlowking%2F2.webp?alt=media&token=11e6d70e-7736-4146-9fdd-1832ecf9e18a" alt="Industrial Motor image">
            </div>
            <div class="motor-txt">
                <h2>Flow King (0.5 HP)-II</h2>
                <p>it adapts seamlessly to various power inputs. Backed by a solid 1-year warranty.They provide reliable and efficient performance, making everyday tasks easier and more efficient</p>
                <div class="btn-grp">
                    <button class="btn">Know More</button>
                    <a class="fav"><i class="far fa-heart"></i></a>
                </div>
            </div>
        </div>
        <div class="pump">
            <div class="img-div">
                <img src="https://firebasestorage.googleapis.com/v0/b/kruston-25bbb.appspot.com/o/category%2FFlowking%2F2.webp?alt=media&token=11e6d70e-7736-4146-9fdd-1832ecf9e18a" alt="Industrial Motor image">
            </div>
            <div class="motor-txt">
                <h2>Flow King (0.5 HP)-II</h2>
                <p>it adapts seamlessly to various power inputs. Backed by a solid 1-year warranty.They provide reliable and efficient performance, making everyday tasks easier and more efficient</p>
                <div class="btn-grp">
                    <button class="btn">Know More</button>
                    <a class="fav"><i class="far fa-heart"></i></a>
                </div>
            </div>
        </div>
        <div class="pump">
            <div class="img-div">
                <img src="https://firebasestorage.googleapis.com/v0/b/kruston-25bbb.appspot.com/o/category%2FFlowking%2F2.webp?alt=media&token=11e6d70e-7736-4146-9fdd-1832ecf9e18a" alt="Industrial Motor image">
            </div>
            <div class="motor-txt">
                <h2>Flow King (0.5 HP)-II</h2>
                <p>it adapts seamlessly to various power inputs. Backed by a solid 1-year warranty.They provide reliable and efficient performance, making everyday tasks easier and more efficient</p>
                <div class="btn-grp">
                    <button class="btn">Know More</button>
                    <a class="fav"><i class="far fa-heart"></i></a>
                </div>
            </div>
        </div>
        <div class="pump">
            <div class="img-div">
                <img src="https://firebasestorage.googleapis.com/v0/b/kruston-25bbb.appspot.com/o/category%2FFlowking%2F2.webp?alt=media&token=11e6d70e-7736-4146-9fdd-1832ecf9e18a" alt="Industrial Motor image">
            </div>
            <div class="motor-txt">
                <h2>Flow King (0.5 HP)-II</h2>
                <p>it adapts seamlessly to various power inputs. Backed by a solid 1-year warranty.They provide reliable and efficient performance, making everyday tasks easier and more efficient</p>
                <div class="btn-grp">
                    <button class="btn">Know More</button>
                    <a class="fav"><i class="far fa-heart"></i></a>
                </div>
            </div>
        </div>
        <div class="pump">
            <div class="img-div">
                <img src="https://firebasestorage.googleapis.com/v0/b/kruston-25bbb.appspot.com/o/category%2FFlowking%2F2.webp?alt=media&token=11e6d70e-7736-4146-9fdd-1832ecf9e18a" alt="Industrial Motor image">
            </div>
            <div class="motor-txt">
                <h2>Flow King (0.5 HP)-II</h2>
                <p>it adapts seamlessly to various power inputs. Backed by a solid 1-year warranty.They provide reliable and efficient performance, making everyday tasks easier and more efficient</p>
                <div class="btn-grp">
                    <button class="btn">Know More</button>
                    <a class="fav"><i class="far fa-heart"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="head">
        <h1>Residential Motors</h1>
        <a (click)="scroll('residential','left')" class="indicator left"><i class="fas fa-chevron-left"></i></a>
        <a  (click)="scroll('residential','right')" class="indicator right"><i class="fas fa-chevron-right"></i></a>
    </div>
    <div id="residential" class="motor-show">
        <div class="pump">
            <div class="img-div">
                <img src="https://firebasestorage.googleapis.com/v0/b/kruston-25bbb.appspot.com/o/category%2FFlowking%2F2.webp?alt=media&token=11e6d70e-7736-4146-9fdd-1832ecf9e18a" alt="Industrial Motor image">
            </div>
            <div class="motor-txt">
                <h2>Flow King (0.5 HP)-II</h2>
                <p>it adapts seamlessly to various power inputs. Backed by a solid 1-year warranty.They provide reliable and efficient performance, making everyday tasks easier and more efficient</p>
                <div class="btn-grp">
                    <button class="btn">Know More</button>
                    <a class="fav"><i class="far fa-heart"></i></a>
                </div>
            </div>
        </div>
        <div class="pump">
            <div class="img-div">
                <img src="https://firebasestorage.googleapis.com/v0/b/kruston-25bbb.appspot.com/o/category%2FFlowking%2F2.webp?alt=media&token=11e6d70e-7736-4146-9fdd-1832ecf9e18a" alt="Industrial Motor image">
            </div>
            <div class="motor-txt">
                <h2>Flow King (0.5 HP)-II</h2>
                <p>it adapts seamlessly to various power inputs. Backed by a solid 1-year warranty.They provide reliable and efficient performance, making everyday tasks easier and more efficient</p>
                <div class="btn-grp">
                    <button class="btn">Know More</button>
                    <a class="fav"><i class="far fa-heart"></i></a>
                </div>
            </div>
        </div>
        <div class="pump">
            <div class="img-div">
                <img src="https://firebasestorage.googleapis.com/v0/b/kruston-25bbb.appspot.com/o/category%2FFlowking%2F2.webp?alt=media&token=11e6d70e-7736-4146-9fdd-1832ecf9e18a" alt="Industrial Motor image">
            </div>
            <div class="motor-txt">
                <h2>Flow King (0.5 HP)-II</h2>
                <p>it adapts seamlessly to various power inputs. Backed by a solid 1-year warranty.They provide reliable and efficient performance, making everyday tasks easier and more efficient</p>
                <div class="btn-grp">
                    <button class="btn">Know More</button>
                    <a class="fav"><i class="far fa-heart"></i></a>
                </div>
            </div>
        </div>
        <div class="pump">
            <div class="img-div">
                <img src="https://firebasestorage.googleapis.com/v0/b/kruston-25bbb.appspot.com/o/category%2FFlowking%2F2.webp?alt=media&token=11e6d70e-7736-4146-9fdd-1832ecf9e18a" alt="Industrial Motor image">
            </div>
            <div class="motor-txt">
                <h2>Flow King (0.5 HP)-II</h2>
                <p>it adapts seamlessly to various power inputs. Backed by a solid 1-year warranty.They provide reliable and efficient performance, making everyday tasks easier and more efficient</p>
                <div class="btn-grp">
                    <button class="btn">Know More</button>
                    <a class="fav"><i class="far fa-heart"></i></a>
                </div>
            </div>
        </div>
        <div class="pump">
            <div class="img-div">
                <img src="https://firebasestorage.googleapis.com/v0/b/kruston-25bbb.appspot.com/o/category%2FFlowking%2F2.webp?alt=media&token=11e6d70e-7736-4146-9fdd-1832ecf9e18a" alt="Industrial Motor image">
            </div>
            <div class="motor-txt">
                <h2>Flow King (0.5 HP)-II</h2>
                <p>it adapts seamlessly to various power inputs. Backed by a solid 1-year warranty.They provide reliable and efficient performance, making everyday tasks easier and more efficient</p>
                <div class="btn-grp">
                    <button class="btn">Know More</button>
                    <a class="fav"><i class="far fa-heart"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>