@use "../../../color";


.contact-banner{
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color:color.$textcolor;
  background-color: color.$primary;
  margin-bottom: 20px;
  h1{
    font-size: 5vw;
  }
  p{
    // font-weight: 600;
    font-size: 1.5vw;
    line-height: 50px;
    text-align: center;
    margin: 10px;
  }
  button{
    padding: 10px 25px;
    outline: none;
    border: none;
    background-color: color.$whitebackground;
    box-shadow: 1px 1px 20px 1px lightgray;
  }
}

  .con-form{
    // background-color: orange;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    margin-bottom: 20px;
    padding-left: 10px;
    .con-img{
      height: 100%;
      width: auto;
      img{
        height: 100%;
        width: auto;
      }
    }
  }

  form{
    width: 350px;
    h3{
      font-weight: 600;
      font-size: 30px;
    }
    button{
      outline: none;
      border: none;
      background-color: color.$primary;
      color: color.$textcolor;
      padding: 10px 25px;
      margin: 15px 0;
      &:active{
        transform: scale(.9);
      }
    }
  }

 
  
  @media screen and (max-width:768px) {
    .con-form{
      flex-direction: column;
      height: auto;
      position: relative;
      form{
        opacity: .8;
        width: 300px;
        label{
          color:black
        }
        &>div{
          border: 2px solid black;
          background: transparent;
        }
        h3{
          font-size: 25px;
        }
      }
      .con-img{
        display: none;
      }
    }
    .con-form::before{
      content: ' ';
      position: absolute;
      width: 98%;
      height: 100%;
      background:url("../../../assets/images/contact1.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      opacity: .5;
    }
  }

  @media screen and (max-width:350px) {
    .con-form{
      form{
        width: 100%;
      }
    }
  }