@use '../../../color';


header {
    width: 100%;
    padding: 10px 100px; 
    box-shadow: 1px 1px 2px 2px lightgrey;
    margin-bottom: 10px;
}

.logo-div{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navlink{
        display: none;
    }
    .img-div{
        height: 100%;
        width: auto;
        img{
            height: 100%;
            width: auto;
        }
    }
    .login-btn{
        padding: 10px 30px;
        background-color: color.$primary;
        color: color.$textcolor;
   
    }

}

.nav-div{
    height: 50px;
    margin: 20px 0;
    background-color: color.$primary;
    color: color.$textcolor;
    ul{
        list-style-type: none;
        height: 100%;
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: center;
        li{
            padding: 10px 15px;
            &:hover{
                text-decoration: underline;
                cursor: pointer;
            }
        }
        
    }
}

li.active{
    background-color: color.$secondary;
    color:  color.$primary;
}

.dis{
    display: none;
}


@media screen and (max-width: 850px) {
    header{
        padding: 10px;
    }
}

@media screen and (max-width: 600px) {
    .logo-div{
        z-index: 1000;
        .navlink{
            display: block;
            cursor: pointer;
        }
        .img-div{
            height: 70%;
            width: auto;
            img{
                height: 100%;
                width: auto;
            }
        }

        .login-btn{
            padding: 10px 15px;
            color: color.$textcolor;
        }

    }
    .nav-div{
        display: none;
    }

    .mob-nav-div{
        display: block;
        position: fixed;
        top: 0px;
        left: 0;
        height: 100vh;
        overflow: auto;
        width: 100%;
        background-color:rgba($color:color.$primary, $alpha: .5);
        animation-name: mobnav;
        animation-duration: 1s;
        z-index: 1000;
        .cancel{
            position: absolute;
            right:10%;
            top: 5%;
            color: color.$textcolor;
        }

        .links{
            background-color: color.$textcolor;
            width: 50%;
            height: 100%;
            ul{
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 25px;
                padding:10px;
                li{
                    padding: 5px 10px;

                }
            }
        }
    }
    @keyframes mobnav {
        0%{
            width: 0%;
        }
        100%{
            width: 100%;
        }
      }

}