<header>
    <div class="logo-div">
        <div class="navlink" (click)="onClickBar(true)"><i class="fas fa-bars"></i></div>
        <div class="img-div">
            <img (click)="navigation('home')" src="../../../assets/images/kurston-logo.png" alt="">
        </div>
        <div>
            <button *ngIf="dataShared.loggedInUser.email==null" class="login-btn" (click)="navigation('login')"><i class="far fa-user-circle"></i> &nbsp; Login</button>
            <button *ngIf="dataShared.loggedInUser.email!=null&&dataShared.loggedInUser.displayName==null" class="login-btn" (click)="logout()">Unkown</button>
            <button *ngIf="dataShared.loggedInUser.displayName!=null" class="login-btn" (click)="logout()">{{dataShared.loggedInUser.displayName}}</button>
        </div>
    </div>
    <div class="nav-div">
        <ul>
            <li (click)="navigation('home')"  [class.active]="activetab=='home'"><i class="fas fa-home"></i> &nbsp;Home</li>
            <li (click)="navigation('category')" [class.active]="activetab=='category'"><i class="fas fa-th-large"></i> &nbsp;Catagories</li>
            <li *ngIf="dataShared.loggedInUser.uid!=null&&dataShared.loggedInUser.role=='admin'" (click)="navigation('favourite')" [class.active]="activetab=='favourite'"><i class="fas fa-heart"></i> &nbsp;Favourite</li>
            <li (click)="navigation('about')" [class.active]="activetab=='about'"><i class="fas fa-info"></i> &nbsp; About Us</li>
            <li (click)="navigation('contact')" [class.active]="activetab=='contact'"><i class="fas fa-globe"></i>&nbsp;Contact Us</li>
            <li *ngIf="dataShared.loggedInUser.uid!=null&&dataShared.loggedInUser.role=='admin'" (click)="navigation('admin')" [class.active]="activetab=='admin'"><i class="fas fa-user-shield"></i> &nbsp;Admin</li>
        </ul>
    </div>
  
    <div #mobnav class="dis" [class.mob-nav-div]="isBarClicked">
        <span class="cancel" (click)="onClickBar(false)"><i class="far fa-times-circle"></i></span>
        <div class="links">
            <ul>
                <li (click)="navigation('home')"  [class.active]="activetab=='home'"><i class="fas fa-home"></i> &nbsp;Home</li>
                <li (click)="navigation('category')" [class.active]="activetab=='category'"><i class="fas fa-th-large"></i> &nbsp;Catagories</li>
                <li *ngIf="dataShared.loggedInUser.uid!=null&&dataShared.loggedInUser.role!='admin'" (click)="navigation('favourite')" [class.active]="activetab=='favourite'"><i class="fas fa-heart"></i> &nbsp;Favourite</li>
                <li (click)="navigation('about')" [class.active]="activetab=='about'"><i class="fas fa-info"></i> &nbsp; About Us</li>
                <li (click)="navigation('contact')" [class.active]="activetab=='contact'"><i class="fas fa-globe"></i>&nbsp;Contact Us</li>
                <li *ngIf="dataShared.loggedInUser.uid!=null&&dataShared.loggedInUser.role=='admin'" (click)="navigation('admin')" [class.active]="activetab=='admin'"><i class="fas fa-user-shield"></i> &nbsp;Admin</li>
            </ul>
        </div>
    </div>
</header>
