<div class="container-fluid">
    <div class="container-fluid">
      <div class=" cat-row row">
        <div class="cat col-md-5">
          <div class="imgdiv">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/kruston-25bbb.appspot.com/o/category%2FFlowking%2Felectric-motor_6077878.png?alt=media&token=10d227b6-60a0-40b3-9880-687ffe4b9b70"
              alt="Monoblock motor Image"
              width="40%"
              height="auto"
            />
          </div>
          <div class="infodiv">
            <h2>Single Phase</h2>
            <p>
              Monoblock motors are compact, efficient, and designed for seamless
              integration into various applications.
            </p>
            <button class="btn">View All Products</button>
          </div>
        </div>
        <div class="cat col-md-5">
          <div class="imgdiv">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/kruston-25bbb.appspot.com/o/category%2FFlowking%2Felectric-motor_6077878.png?alt=media&token=10d227b6-60a0-40b3-9880-687ffe4b9b70"
              alt="shallow well motor Image"
              width="40%"
              height="auto"
            />
          </div>
          <div class="infodiv">
            <h2>Three Phase</h2>
            <p>
              Monoblock motors are compact, efficient, and designed for seamless
              integration into various applications.
            </p>
            <button class="btn">View All Products</button>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
    <div class="head">
      <h1>Single Phase</h1>
      <a (click)="scroll('singlephase','left')" class="indicator left"><i class="fas fa-chevron-left"></i></a>
      <a  (click)="scroll('singlephase','right')" class="indicator right"><i class="fas fa-chevron-right"></i></a>
  </div>
  <div id="singlephase" class="motor-show">
      <div class="pump">
          <div class="img-div">
              <img src="https://firebasestorage.googleapis.com/v0/b/kruston-25bbb.appspot.com/o/category%2FFlowking%2F2.webp?alt=media&token=11e6d70e-7736-4146-9fdd-1832ecf9e18a" alt="Industrial Motor image">
          </div>
          <div class="motor-txt">
              <h2>Flow King (0.5 HP)-II</h2>
              <p>it adapts seamlessly to various power inputs. Backed by a solid 1-year warranty.They provide reliable and efficient performance, making everyday tasks easier and more efficient</p>
              <div class="btn-grp">
                  <button class="btn">Know More</button>
                  <a class="fav"><i class="far fa-heart"></i></a>
              </div>
          </div>
      </div>
      <div class="pump">
          <div class="img-div">
              <img src="https://firebasestorage.googleapis.com/v0/b/kruston-25bbb.appspot.com/o/category%2FFlowking%2F2.webp?alt=media&token=11e6d70e-7736-4146-9fdd-1832ecf9e18a" alt="Industrial Motor image">
          </div>
          <div class="motor-txt">
              <h2>Flow King (0.5 HP)-II</h2>
              <p>it adapts seamlessly to various power inputs. Backed by a solid 1-year warranty.They provide reliable and efficient performance, making everyday tasks easier and more efficient</p>
              <div class="btn-grp">
                  <button class="btn">Know More</button>
                  <a class="fav"><i class="far fa-heart"></i></a>
              </div>
          </div>
      </div>
      <div class="pump">
          <div class="img-div">
              <img src="https://firebasestorage.googleapis.com/v0/b/kruston-25bbb.appspot.com/o/category%2FFlowking%2F2.webp?alt=media&token=11e6d70e-7736-4146-9fdd-1832ecf9e18a" alt="Industrial Motor image">
          </div>
          <div class="motor-txt">
              <h2>Flow King (0.5 HP)-II</h2>
              <p>it adapts seamlessly to various power inputs. Backed by a solid 1-year warranty.They provide reliable and efficient performance, making everyday tasks easier and more efficient</p>
              <div class="btn-grp">
                  <button class="btn">Know More</button>
                  <a class="fav"><i class="far fa-heart"></i></a>
              </div>
          </div>
      </div>
      <div class="pump">
          <div class="img-div">
              <img src="https://firebasestorage.googleapis.com/v0/b/kruston-25bbb.appspot.com/o/category%2FFlowking%2F2.webp?alt=media&token=11e6d70e-7736-4146-9fdd-1832ecf9e18a" alt="Industrial Motor image">
          </div>
          <div class="motor-txt">
              <h2>Flow King (0.5 HP)-II</h2>
              <p>it adapts seamlessly to various power inputs. Backed by a solid 1-year warranty.They provide reliable and efficient performance, making everyday tasks easier and more efficient</p>
              <div class="btn-grp">
                  <button class="btn">Know More</button>
                  <a class="fav"><i class="far fa-heart"></i></a>
              </div>
          </div>
      </div>
      <div class="pump">
          <div class="img-div">
              <img src="https://firebasestorage.googleapis.com/v0/b/kruston-25bbb.appspot.com/o/category%2FFlowking%2F2.webp?alt=media&token=11e6d70e-7736-4146-9fdd-1832ecf9e18a" alt="Industrial Motor image">
          </div>
          <div class="motor-txt">
              <h2>Flow King (0.5 HP)-II</h2>
              <p>it adapts seamlessly to various power inputs. Backed by a solid 1-year warranty.They provide reliable and efficient performance, making everyday tasks easier and more efficient</p>
              <div class="btn-grp">
                  <button class="btn">Know More</button>
                  <a class="fav"><i class="far fa-heart"></i></a>
              </div>
          </div>
      </div>
  </div>
    <div class="head">
      <h1>Three Phase</h1>
      <a (click)="scroll('threephase','left')" class="indicator left"><i class="fas fa-chevron-left"></i></a>
      <a  (click)="scroll('threephase','right')" class="indicator right"><i class="fas fa-chevron-right"></i></a>
  </div>
  <div id="threephase" class="motor-show">
      <div class="pump">
          <div class="img-div">
              <img src="https://firebasestorage.googleapis.com/v0/b/kruston-25bbb.appspot.com/o/category%2FFlowking%2F2.webp?alt=media&token=11e6d70e-7736-4146-9fdd-1832ecf9e18a" alt="Industrial Motor image">
          </div>
          <div class="motor-txt">
              <h2>Flow King (0.5 HP)-II</h2>
              <p>it adapts seamlessly to various power inputs. Backed by a solid 1-year warranty.They provide reliable and efficient performance, making everyday tasks easier and more efficient</p>
              <div class="btn-grp">
                  <button class="btn">Know More</button>
                  <a class="fav"><i class="far fa-heart"></i></a>
              </div>
          </div>
      </div>
      <div class="pump">
          <div class="img-div">
              <img src="https://firebasestorage.googleapis.com/v0/b/kruston-25bbb.appspot.com/o/category%2FFlowking%2F2.webp?alt=media&token=11e6d70e-7736-4146-9fdd-1832ecf9e18a" alt="Industrial Motor image">
          </div>
          <div class="motor-txt">
              <h2>Flow King (0.5 HP)-II</h2>
              <p>it adapts seamlessly to various power inputs. Backed by a solid 1-year warranty.They provide reliable and efficient performance, making everyday tasks easier and more efficient</p>
              <div class="btn-grp">
                  <button class="btn">Know More</button>
                  <a class="fav"><i class="far fa-heart"></i></a>
              </div>
          </div>
      </div>
      <div class="pump">
          <div class="img-div">
              <img src="https://firebasestorage.googleapis.com/v0/b/kruston-25bbb.appspot.com/o/category%2FFlowking%2F2.webp?alt=media&token=11e6d70e-7736-4146-9fdd-1832ecf9e18a" alt="Industrial Motor image">
          </div>
          <div class="motor-txt">
              <h2>Flow King (0.5 HP)-II</h2>
              <p>it adapts seamlessly to various power inputs. Backed by a solid 1-year warranty.They provide reliable and efficient performance, making everyday tasks easier and more efficient</p>
              <div class="btn-grp">
                  <button class="btn">Know More</button>
                  <a class="fav"><i class="far fa-heart"></i></a>
              </div>
          </div>
      </div>
      <div class="pump">
          <div class="img-div">
              <img src="https://firebasestorage.googleapis.com/v0/b/kruston-25bbb.appspot.com/o/category%2FFlowking%2F2.webp?alt=media&token=11e6d70e-7736-4146-9fdd-1832ecf9e18a" alt="Industrial Motor image">
          </div>
          <div class="motor-txt">
              <h2>Flow King (0.5 HP)-II</h2>
              <p>it adapts seamlessly to various power inputs. Backed by a solid 1-year warranty.They provide reliable and efficient performance, making everyday tasks easier and more efficient</p>
              <div class="btn-grp">
                  <button class="btn">Know More</button>
                  <a class="fav"><i class="far fa-heart"></i></a>
              </div>
          </div>
      </div>
      <div class="pump">
          <div class="img-div">
              <img src="https://firebasestorage.googleapis.com/v0/b/kruston-25bbb.appspot.com/o/category%2FFlowking%2F2.webp?alt=media&token=11e6d70e-7736-4146-9fdd-1832ecf9e18a" alt="Industrial Motor image">
          </div>
          <div class="motor-txt">
              <h2>Flow King (0.5 HP)-II</h2>
              <p>it adapts seamlessly to various power inputs. Backed by a solid 1-year warranty.They provide reliable and efficient performance, making everyday tasks easier and more efficient</p>
              <div class="btn-grp">
                  <button class="btn">Know More</button>
                  <a class="fav"><i class="far fa-heart"></i></a>
              </div>
          </div>
      </div>
  </div>
  
  </div>
  
  </div>
  