<div class="container-fluid">
    <div class="container-fluid">
      <div class=" cat-row row">
        <div class="cat col-md-5">
          <div class="imgdiv">
            <img
              [src]="dataService.singalPhaseIcon"
              alt="Monoblock motor Image"
              width="40%"
              height="auto"
            />
          </div>
          <div class="infodiv">
            <h2>Single Phase</h2>
            <p>
              Monoblock motors are compact, efficient, and designed for seamless
              integration into various applications.
            </p>
            <button (click)="navigate('single phase')" class="btn">View All Products</button>
          </div>
        </div>
        <div class="cat col-md-5">
          <div class="imgdiv">
            <img
              [src]="dataService.threePhaseIcon"
              alt="shallow well motor Image"
              width="40%"
              height="auto"
            />
          </div>
          <div class="infodiv">
            <h2>Three Phase</h2>
            <p>
              Monoblock motors are compact, efficient, and designed for seamless
              integration into various applications.
            </p>
            <button  (click)="navigate('three phase')" class="btn">View All Products</button>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
    <div class="head">
      <h1>Single Phase</h1>
      <a (click)="scroll('singlephase','left')" class="indicator left"><i class="fas fa-chevron-left"></i></a>
      <a  (click)="scroll('singlephase','right')" class="indicator right"><i class="fas fa-chevron-right"></i></a>
  </div>
  <div id="singlephase" class="motor-show">
    <div class="pump" *ngFor="let x of singleProducts;let i=index">
        <div class="img-div">
            <img [src]="x.imageUrl" alt="Industrial Motor image">
        </div>
        <div class="motor-txt">
            <h2>{{x.title}}</h2>
            <p>{{x.desc|truncate:70:true}}</p>
            <div class="btn-grp">
                <button (click)="onProductClick(x)" class="btn btn-sm">Know More</button>
                <a class="fav"><i class="far fa-heart"></i></a>
            </div>
        </div>
    </div>
     
  </div>
    <div class="head">
      <h1>Three Phase</h1>
      <a (click)="scroll('threephase','left')" class="indicator left"><i class="fas fa-chevron-left"></i></a>
      <a  (click)="scroll('threephase','right')" class="indicator right"><i class="fas fa-chevron-right"></i></a>
  </div>
  <div id="threephase" class="motor-show">
    <div class="pump" *ngFor="let x of threeProducts;let i=index">
        <div class="img-div">
            <img [src]="x.imageUrl" alt="Industrial Motor image">
        </div>
        <div class="motor-txt">
            <h2>{{x.title}}</h2>
            <p>{{x.desc|truncate:70:true}}</p>
            <div class="btn-grp">
                <button (click)="onProductClick(x)" class="btn btn-sm">Know More</button>
                <a class="fav"><i class="far fa-heart"></i></a>
            </div>
        </div>
    </div>
  </div>
  
  </div>
  
  </div>
  