.about-us {
    width: 100%;
    position: relative;
    overflow: hidden; /* Prevents overflow */
  }
  
  .about-img {
    width: 100%; 
    height: auto; 
  }
  
  .about-text {
    position: absolute;
    top: 10%; 
    left: 80%; 
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 50px; 
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    text-align: center;
    width: auto; 
    white-space: nowrap; 
  }
  .about-exp{
    padding: 20px; 
    border-radius: 5px; 
    color: white;
    height: 400px;
    
    h4{
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        font-size: 35px;
    }
    background: rgb(5,5,5);
background: linear-gradient(270deg, rgba(5,5,5,1) 0%, rgba(119,119,121,1) 21%, rgba(252,254,255,1) 100%);
  }

 

#animated-logo {
  width: 200px;
  height: 200px;
  animation: zoomInOut 3s infinite;
}

@keyframes zoomInOut {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.2);
  }
  100% {
      transform: scale(1);
  }
}




  