<div class="about-us">
    <img class="about-img" src="../../assets/images/men-aboutus-2to1.webp" alt="Network Issue">
    <div class="about-text">About Us</div>
  </div>
  <div class="about-exp">
     <div style="display: flex; flex-direction: row; justify-content:space-evenly">
        <img  id="animated-logo" style="width: 200px; height: 200px;margin-top: 10px;" src="../../assets/images/motor-logo-modified.png" alt="">
        <div>
        <h4>We are no. 1 motor pump brand in nit fbd</h4>
        <h4>in NIT Faridabad</h4>
        <div style="margin-top: 30px;width: 500px;">
         <p>We are known for our highly satisfactory services, consistently exceeding our clients' expectations. With nearly 20 years in the market, we have been delivering excellence through our innovative products and dedicated services. Our commitment to quality and customer satisfaction has earned us a trusted reputation. Over the years, we have built strong relationships with our customers, driven by our passion for excellence and continuous improvement. Our experienced team is always ready to go the extra mile to ensure that every project is a success. We are proud to be a leading name in the industry, setting benchmarks with our cutting-edge solutions and unparalleled service standards.</p>
        </div>
    </div>
    
     </div> 
     
  </div>
  
  

