<div class="about-us">
  <img
    class="about-img"
    src="../../assets/images/aboutposter.jpg"
    alt="kruston about img"
  />
</div>
<div class="about-exp">
  <div class="para-img">
    <img
    id="animated-logo"
    src="../../assets/images/signup.png"
    alt="about img"
    />
  </div>
    <div class="para-txt">
      <h1>We are no.1 Motor Pump Brand</h1>
      <h1>in NIT Faridabad</h1>
        <p>
          {{aboutUs.p1}}
        </p>
        <p>
         {{aboutUs.p2}}
        </p>
        <div class="show-highlight">
          <div class="highlight">
            <div class="show-icon">
              <img src="../../../assets/images/real.png" alt="kurston customer support">
            </div>
            <p>
              100% Genuine Products
            </p>
          </div>
          <div class="highlight">
            <div class="show-icon">
              <img src="../../../assets/images/best.png" alt="kurston customer support">
            </div>
            <p>
              Best in Bussiness
            </p>
          </div>
          <div class="highlight">
            <div class="show-icon">
              <img src="../../../assets/images/support-worker.png" alt="kurston customer support">
            </div>
            <p>
              24*7 Hours Customer Service
            </p>
          </div>
        </div>
    </div>
</div>
<h1 style="text-align: center; font-weight: 600; font-size: 40px; margin: 20px 0;">Our Review</h1>
<div class="reviews">
  <div class="review" *ngFor="let x of reviews;let i=index">
    <p>{{x.review}}</p>
    <div class="person">
      <img src="../../../assets/images/contact us.png" alt=" kurston review person image">
      <p>{{x.name}}</p>
    </div>
    <div>
    </div>
  </div>

</div>
