<div class="main-div">
  <div class="img">
    <img src="../../../assets/images/login.png" alt="kurston login image" />
  </div>
  <div class="login-container" *ngIf="showLoginPage">
    <form [formGroup]="loginForm">
      <h1>Welcome Back !</h1>
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
        />
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
        />
        <label for="floatingPassword">Password</label>
      </div>
      <button (click)="signup()" [disabled]="loginForm.invalid">Login</button>
    </form>
    <p class="redirect">
      Don't have an account?
      <a (click)="onToggle('signup')" class="r-link">Signup Here</a>
    </p>
  </div>

<div class="login-container" *ngIf="!showLoginPage">
  <form [formGroup]="loginForm">
    <h1>Become A Family !</h1>

    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
      />
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Enter Your Name"
      />
      <label for="floatingInput">Your Name</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
      />
      <label for="floatingPassword">Password</label>
    </div>
    <button (click)="signup()" [disabled]="loginForm.invalid">
      Create Account
    </button>
  </form>
  <p class="redirect">
    Don't have an account?
    <a (click)="onToggle('login')" class="r-link">Login Here</a>
  </p>
</div>
</div>
