<div class="container">
  <div class="row">
    <button class="btn btn-warning" (click)="viewMessage()"><i class="fas fa-eye"></i> Click To View User Message</button>
  </div>
  <h2 class="text-center my-4">Admin Panel</h2>

  <!-- Action Selection: Add or Delete -->
  <div class="mb-3">
    <label for="actionSelect" class="form-label">Select Action</label>
    <select id="actionSelect" class="form-select" (change)="setAction($event)">
      <option value="null">Choose Action</option>
      <option value="add">Add Data</option>
      <option value="delete">Delete Data</option>
    </select>
  </div>

  <!-- Select Table for Operation -->
  <div class="mb-3">
    <label for="tableSelect" class="form-label">Select Table</label>
    <select
      id="tableSelect"
      class="form-select"
      [formControl]="selectedTableControl"
      (change)="tableChange()"
    >
      <option value="" disabled>Select Table</option>
      <option *ngFor="let table of tables" [value]="table">{{ table }}</option>
    </select>
  </div>

  <hr style="margin-bottom: 10px;">
 
  
  <!-- Add Product Form -->
  <form *ngIf="action === 'add' && selectedTableControl.value === 'products'"
    [formGroup]="newProductForm"
    (ngSubmit)="onSubmitNewProduct()"
  >
    <h4>Add New Product</h4>

    <div class="mb-3">
      <label for="productName" class="form-label">Product Title</label>
      <input
        type="text"
        class="form-control"
        id="productName"
        formControlName="title"
      />
    </div>

    <div class="mb-3">
      <label for="productDesc" class="form-label">Product Description</label>
      <textarea
        class="form-control"
        id="productDesc"
        formControlName="desc"
      ></textarea>
    </div>
    <div class="mb-3">
      <label for="tableSelect" class="form-label">Select Category</label>
      <select id="tableSelect" class="form-select" formControlName="category" (ngModelChange)="change('cat')">
        <option value="" disabled>Select Category</option>
        <option *ngFor="let cat of category" [value]="cat">{{ cat }}</option>
      </select>
    </div>
    <div class="mb-3" *ngIf="newProductForm.value.category == 'Industrial'">
      <label for="tableSelect" class="form-label">Select Sub Category</label>
      <select
        id="tableSelect"
        class="form-select"
        formControlName="subcategory"
        (ngModelChange)="change('sub')"
      >
        <option value="" disabled>Select Sub Category</option>
        <option *ngFor="let cat of subcategory1" [value]="cat">
          {{ cat }}
        </option>
      </select>
    </div>
    <div class="mb-3" *ngIf="newProductForm.value.category == 'Residential'">
      <label for="tableSelect" class="form-label">Select Sub Category</label>
      <select
        id="tableSelect"
        class="form-select"
        formControlName="subcategory"
        (ngModelChange)="change('sub')"
      >
        <option value="" disabled>Select Sub Category</option>
        <option *ngFor="let cat of subcategory2" [value]="cat">
          {{ cat }}
        </option>
      </select>
    </div>
    <div class="mb-3" *ngIf="newProductForm.value.category == 'Residential'&& newProductForm.value.subcategory=='Monoblock'">
      <label for="type1" class="form-label">Select Type</label>
      <select
        id="type1"
        class="form-select"
        formControlName="type"
        
      >
        <option value="" disabled>Select type</option>
        <option *ngFor="let cat of type1" [value]="cat">
          {{ cat }}
        </option>
      </select>
    </div>
    <div class="mb-3" *ngIf="newProductForm.value.category == 'Residential'&&newProductForm.value.subcategory=='Shallow Well'">
      <label for="type2" class="form-label">Select Type</label>
      <select
        id="type2"
        class="form-select"
        formControlName="type"
      >
        <option value="" disabled>Select type</option>
        <option *ngFor="let cat of type2" [value]="cat">
          {{ cat }}
        </option>
      </select>
    </div>


    <div class="mb-3">
      <label for="productImage" class="form-label">Product Image</label>
      <input
        type="file"
        class="form-control"
        id="productImage"
        (change)="onFileSelected($event)"
      />
    </div>
    <div class="mb-3" formGroupName="additionalDetails">
      <label for="price" class="form-label">Price</label>
      <input formControlName="price" type="number"  class="form-control" />
  
      <div *ngFor="let field of additionalFields; let i = index" class="custom-field  my-2" style="border: 1px dashed grey; padding: 5px;">
        <div class="field-container">
          <input
            type="text"
            placeholder="Field Name"
            class="form-control"
            [formControlName]="'field' + i + '_name'"
          />
          <input
            type="text"
            placeholder="Field Value"
            class="form-control"
            [formControlName]="'field' + i + '_value'"
          />
          <button type="button" style="background: none; outline: none; border: none;" class="remove-btn" (click)="removeCustomField(i)">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </div>
  
      <button type="button" class="mt-2" style="float: right;" (click)="addCustomField()">Add Custom Field</button>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="newProductForm.invalid || selectedFile == null"
    >
      Add Product
    </button>
  </form>

  <!-- Delete Item Form -->
  <form *ngIf="action === 'delete' &&selectedTableControl.value === 'products'"
    [formGroup]="deleteForm"
    (ngSubmit)="onDelete()"
  >
    <h4>Delete Item</h4>

    <div class="mb-3">
      <label for="itemId" class="form-label">Item ID</label>
      <input
        type="text"
        class="form-control"
        id="itemId"
        formControlName="itemIdToDelete"
      />
    </div>

    <button
      type="submit"
      class="btn btn-danger"
      [disabled]="deleteForm.invalid"
    >
      Delete Item
    </button>
  </form>


  <form  *ngIf="action === 'add' && selectedTableControl.value === 'User'" [formGroup]="roleUpdateForm" (ngSubmit)="onSubmitUser()">
    <h4>Update User Role</h4>
    <div class="mb-3">
      <label for="userSelect" class="form-label">Select User</label>
      <select class="form-select" id="userSelect" formControlName="selectedUser" (click)="openuserlist()">
        <option value="null">Choose User</option>
        <option *ngFor="let user of userList" [value]="user.uid">
          {{ user.displayName }} ({{ user.email }})
        </option>
      </select>
    </div>
  
    <div class="mb-3">
      <label for="userRole" class="form-label">Select Role</label>
      <select class="form-select" id="userRole" formControlName="newRole">
        <option *ngFor="let role of roles" [value]="role">
          {{role}}
        </option>
      </select>
    </div>
  
    <button type="submit" class="btn btn-primary">Update Role</button>
  </form>

  <form  *ngIf="action === 'add' && selectedTableControl.value === 'Poster'" >
    <h4>Add New Poster</h4>
  
    <div class="mb-3">
      <label for="posterImage" class="form-label">Upload Poster Image</label>
      <input type="file" class="form-control" id="posterImage" (change)="onFileSelected($event)" required>
    </div>
    <div class="mb-3">
      <label for="alt" class="form-label">Alt Text</label>
      <input
        type="text"
        class="form-control"
        id="alt"
        name="alt"
        [(ngModel)]="altText"
      />
    </div>
  
    <button  (click)="onSubmitPoster($event)" class="btn btn-primary" [disabled]="!selectedFile">Upload Poster</button>
  </form>
  
  <div *ngIf="action === 'delete' && selectedTableControl.value === 'Poster'">
    <h4>Delete Poster</h4>
  
    <div *ngIf="dataService.posterList.length > 0" class="row">
      <div *ngFor="let poster of dataService.posterList" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <div class="poster-item card">
          <img [src]="poster.imageUrl" alt="{{ poster.alt }}" class="poster-image card-img-top">
          <div class="card-body text-center">
            <button (click)="onDeletePoster(poster)" class="btn btn-danger btn-sm">
              <i class="fas fa-trash"></i> Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  
    <div *ngIf="dataService.posterList.length === 0">
      <p>No posters found.</p>
    </div>
  </div>
  

<form *ngIf="action === 'add' && selectedTableControl.value === 'contact us'" [formGroup]="contactForm" (ngSubmit)="onSubmitContact()" >
  <h4>Update Contact Information</h4>
  
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" id="email" class="form-control" formControlName="email">
    
  </div>

  <div class="mb-3">
    <label for="phone" class="form-label">Phone</label>
    <input type="text" id="phone" class="form-control" formControlName="phone">
    
  </div>

  <div class="mb-3">
    <label for="address" class="form-label">Address</label>
    <input type="text" id="address" class="form-control" formControlName="address">
   
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="contactForm.invalid">
    Submit
  </button>
</form>
<form *ngIf="action === 'add' && selectedTableControl.value === 'About us'" [formGroup]="AboutForm" (ngSubmit)="onSubmitAbout()" >
  <h4>Update About Information</h4>
  
  <div class="mb-3">
    <label for="p1" class="form-label">Para 1</label>
    <textarea
    class="form-control"
    rows="10"
    id="p1"
    formControlName="p1"
  ></textarea>
    
  </div>
  <div class="mb-3">
    <label for="p2" class="form-label">Para 2</label>
    <textarea
    rows="10"
    class="form-control"
    id="p2"
    formControlName="p2"
  ></textarea>
    
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="AboutForm.invalid">
    Submit
  </button>
</form>



</div>
