<div class="home">
    <div class="c-div">
        <app-carousel [images]="updatedImg"></app-carousel>
    </div>
    <div class="range-div">
        <h2>Explore Our Range</h2>
        <div class="range-show">
            <ng-container   *ngFor="let x of categories;let i = index">
                <div class="show-div"  [class.show] = "x.active ==true" (click)="categoryClick(x)"  >
                    <img [src]="x.url" alt="pump-icon">
                    <span class="sh-name">{{x.name}}</span>
                </div>
            </ng-container>
        </div>

        <div class="list-header">
            <div class="list-name">{{activeCategory.name}}</div>
        </div>

        <div class="all-cards" style="margin-left: 10px;">
            <div class="card p-card" style="width: 18rem;">
                <img src="../../../assets/images/pumpimg.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title" style="font-weight: 600;">Card title</h3>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-body">
                  <a href="#" class="btn know-more">Know More</a>
                  
                </div>
              </div>
        </div>
    </div>
</div>