<div class="container">
    <div class="row">
        <div class="img-div col-md-5">
            <img [src]="product?.imageUrl" alt="Industrial Motor image">
        </div>
        <div class="details col-md-7">
            <div class="row">
                <span class="col-12" style="color: gray; font-size: 12px;">{{product?.id}}</span>
                
            </div>
            <div class="row">
                <span class="col-10 share"><i (click)="onShareClick()" class="fas fa-share-alt"></i></span>
                <span *ngIf="!isFavourite" class="col-2 share"><i (click)="addFavorite()" class="far fa-heart"></i></span>
                <span *ngIf="isFavourite" style="color: orangered;" class="col-2 share"><i class="fas fa-heart"></i></span>

            </div>
            <h1>{{product?.title}}</h1>
            <h3> Category : <span style="font-weight: 600;">{{product?.category}}</span></h3>
            <h5>SubCategory : <span style="font-weight: 600;">{{product?.subcategory}}</span></h5>
            <div *ngIf="product?.additionalDetails?.price" class="price">
                <span>MRP ₹</span> <span>{{product.additionalDetails.price}}</span> <br> <span class="gst">excluding GST & other taxes *</span>
            </div>
            <div *ngIf="!product?.additionalDetails?.price" class="price">
                <span>Contact For Price</span> ( <span style="color: grey; font-size: 10px;">Price Not Reveal</span>)
            </div>
            <button><i class="fas fa-phone-volume"></i>  &nbsp; <a href="tel:+91 99588 81921" target="_blank">CALL TO BUY {{ContactDetails?.phone}}</a></button>
        </div>
    </div>
    <div class="branding row">
        <div class="col-4">
            <div class="col-md-1">
                <i class="fas fa-star-half-alt"></i> 
            </div>
            <div class="col-md-11">
                Top Branded Products
            </div>
        </div>
        <div class="col-4">
            <div class="col-md-1">
                <i class="fas fa-certificate"></i>
            </div>
            <div class="col-md-11">
                Product Warranty
            </div>
           
        </div>
        <div class=" col-4">
            <div class="col-md-1">
                <i class="fab fa-instalod"></i>
            </div>
            <div class="col-md-11">
                Service & Installation
            </div>
           
        </div>
    </div>
    <div class="row">
        <h2>Description</h2>
        <p>
            {{product?.desc}}
        </p>
    </div>

    <div *ngIf="product?.additionalDetails?.customFields" class="row">
        <h2>Additional Product Details</h2>
        <div class="row my-3" *ngFor="let x of product.additionalDetails.customFields;let i=index;">
                <div class="col-md-5" style="font-weight: 600; border-left: 5px solid black;">
                    {{x.name}}
                </div>
                <div class="col-md-5">
                    {{x.value}}
                </div>
        </div>
    </div>

    <div class="head">
        <h1>Similar Products</h1>
        <a (click)="scroll('industrial','left')" class="indicator left"><i class="fas fa-chevron-left"></i></a>
        <a  (click)="scroll('industrial','right')" class="indicator right"><i class="fas fa-chevron-right"></i></a>
    </div>
    <div id="industrial" class="motor-show">
        <div class="pump" *ngFor="let x of similarProducts;let i=index">
            <div class="img-div">
                <img [src]="x.imageUrl" alt="Industrial Motor image">
            </div>
            <div class="motor-txt">
                <h2>{{x.title}}</h2>
                <p>{{x.desc|truncate:70:true}}</p>
                <div class="btn-grp">
                    <button (click)="onProductClick(x)" class="btn btn-sm">Know More</button>
                    <a class="fav"><i (click)="addFavorite(x.id)" class="far fa-heart"></i></a>
                </div>
            </div>
        </div>
        
    </div>
    
</div>