<!-- data-bs-ride="carousel" -->
<div id="carouselExampleCaptions" class="carousel slide"   data-bs-pause="false" >
    <div class="carousel-inner">
        <ng-container  *ngFor="let x of imageData; let i = index">

            <div class="carousel-item active" *ngIf="i==0" data-bs-interval="2000">
                <img src="../../../assets/images/landingpage1.webp" class="d-block w-100"  alt="...">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
            <div class="carousel-item " *ngIf="i!=0" data-bs-interval="2000">
                <img [src]="x.url" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
        </ng-container>
    </div>
   
  </div>