<div class="about-footer">
    <div class="footer-container">
        <div class="social-links">
            <a href="https://www.facebook.com" target="_blank">
                <img src="facebook-icon.png" alt="Facebook">
            </a>
            <a href="https://www.instagram.com" target="_blank">
                <img src="instagram-icon.png" alt="Instagram">
            </a>
            <a href="https://www.twitter.com" target="_blank">
                <img src="twitter-icon.png" alt="Twitter">
            </a>
            <a href="https://www.linkedin.com" target="_blank">
                <img src="linkedin-icon.png" alt="LinkedIn">
            </a>
        </div>
        <p class="footer-text">© 2024 Your Website Name. All rights reserved.</p>
    </div>
</div>
