/* You can add global styles to this file, and also import other style files */

@use './color';

@import "@coreui/coreui/scss/coreui";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


button{
    cursor: pointer;
    outline: none;
    border: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
