<div class="container mt-4">
    
  
  <!-- Check if there are favorite products -->
  <div *ngIf="products.length === 0">
    <!-- Empty state illustration -->
    <div class="d-flex my-5 justify-content-center align-items-center flex-column">
      <!-- Placeholder image for empty state (you can replace with your own vector image) -->
      <img src="../../assets/images/cart.png" alt="No favorites" class="img-fluid mb-3" style="max-width: 300px;">
      <p class="lead text-center">You haven't added any products to your favorites yet. Start exploring and add some!</p>
      <a href="/" class="btn btn-warning">Browse Products</a>
    </div>
  </div>
    <div *ngIf="products.length>0" class="row">
      <!-- Example of a card item -->
      <h1 class="text-center mb-4">Your Favorite Products</h1>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let product of products">
        <div class="card h-100 shadow-sm">
          <img [src]="product.imageUrl" class="card-img-top" alt="Product image">
          <div class="card-body d-flex flex-column gap-2">
            <h5 class="card-title">{{ product.title }}</h5>
            <p>{{product.subcategory}}</p>
            <p class="card-text">{{ product.desc| truncate:40:true }}</p>
            <a (click)="onProductClick(product)" class="btn btn-warning mt-auto">View Product</a>
            <a (click)="removeFavourite(product)" class="btn btn-danger mt-auto">Remove from Favourite</a>
        </div>
        
        </div>
      </div>
    </div>
  </div>
  