<div class="home">
    <div class="c-div">
        <app-carousel></app-carousel>
    </div>
    <div class="range-div">
        <h2>Explore Our Range</h2>
        <div class="range-show">
                <div class="show-div" [class.show] = "activeCategory =='Industrial'"  (click)="categoryClick('Industrial')"  >
                    <img rel="preload" as="image" [src]="dateShared.industrialIcon" alt="pump-icon">
                    <span class="sh-name">Industrial</span>
                </div>
                <div class="show-div" [class.show] = "activeCategory =='Residential'"  (click)="categoryClick('Residential')"  >
                    <img rel="preload" as="image" [src]="dateShared.residentialIcon" alt="pump-icon">
                    <span class="sh-name">Residential</span>
                </div>
            
        </div>

        <div class="list-header" *ngIf="activeCategory!=null&&activeCategory!=undefined">
            <div class="list-name">{{activeCategory}}</div>
        </div>

        <div class="all-cards" style="margin-left: 10px;">
            <div class="card p-card" style="width: 18rem;" *ngFor="let x of products;let i=index">
                <img [src]="x.imageUrl" class="card-img-top" alt="pump-img">
                <div class="card-body">
                  <h3 class="card-title" style="font-weight: 600;">{{x.title}}</h3>
                  <p class="card-text">{{x.desc | truncate:50:true}}</p>
                </div>
                <div class="btn-div">
                  <a (click)="onProductClick(x)" class="btn know-more">Know More</a>
                  <button (click)="onFavouriteClick(x)" style="font-size: 20px;" class="btn favourite"><i class="far fa-heart"></i></button>
                  <!-- <a href="#" style="color: orangered; font-size: 20px;" class="btn favourite"><i class="fas fa-heart"></i></a> -->
                  
                </div>
              </div>
        </div>
    </div>
</div>