 @use '../../../color.scss';

.about-footer {
    background-color: color.$primary;
    color: #ecf0f1;
    padding: 10px 0;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.social-links {
    margin-bottom: 15px;
    a{
        color: color.$secondary;
        :active{
        }
    }
}

.social-links a {
    margin: 0 10px;
    display: inline-block;
}

.social-links img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
}

.social-links img:hover {
    transform: scale(1.1);
}

.footer-text {
    font-size: 14px;
    margin-top: 15px;
    color: #bdc3c7;
}