<div class="about-footer">
    <div class="footer-container">
        <div class="social-links">
            <a href="https://www.facebook.com/share/utunsATRMNafbww1/?mibextid=qi2Omg" target="_blank">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/vishal_kurston?utm_source=qr&igsh=cjh0OGQyM2tkZTJ6" target="_blank">
                <i class="fab fa-instagram-square"></i>
            </a>
            <a href="https://x.com/vishal_b1170?t=4Bs1ccuBbtA919wNvCdgRw&s=09" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.linkedin.com/company/kurston/" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
        <p class="footer-text">© 2024 Kurston. All rights reserved.</p>
    </div>
</div>
